@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue, Medium";
  src: url("../fonts/HelveticaNeueMed.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue, Bold";
  src: url("../fonts/HelveticaNeueBd.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue, Medium", sans-serif;
}

.shell {
  width: 375px;
  height: 812px;
  margin: 0 auto;
  padding: 17.5px 17.5px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34c7a0), to(#008aa2));
  background-image: linear-gradient(to bottom, #34c7a0, #008aa2);
}

/*  
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Overview div ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓              ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
.overview-div {
  width: 100%;
  height: 117px;
  padding: 15px 30px;
  border-radius: 28px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview-div__h1, .daily-overview-div .div-info__h1 {
  margin-bottom: 10px;
  color: #00b6a3;
  font-family: "Helvetica Neue, Bold";
  font-size: 34px;
  letter-spacing: 0.48px;
}

.overview-div__p, .daily-overview-div .div-info__p {
  color: #898694;
  font-family: "Helvetica Neue, Medium";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

/*  
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Dayly Overview div ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
.daily-overview-div {
  width: 100%;
  height: 117px;
  padding: 15px 10px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.daily-overview-div .div-icon {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.daily-overview-div .div-icon i.material-icons {
  font-size: 40px;
  cursor: pointer;
}

.daily-overview-div .div-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.daily-overview-div .div-info__h1 {
  color: #fff;
}

.daily-overview-div .div-info__p {
  color: rgba(255, 255, 255, 0.7);
}

/*  
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Days div ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
.days-div {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.days-div .day {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.days-div .day:hover, .days-div .day:active {
  background-color: #fff;
  color: #00b6a3;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

.days-div .day > span {
  font-size: 16px;
  text-align: center;
}

.days-div .day--title {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/*  
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Stats div ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓           ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
.stats-div {
  width: 100%;
}

.stats-div > * {
  padding: 17.5px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-div .activity-div {
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stats-div .activity-div .helper-div {
  margin-top: 8px;
}

.stats-div .activity-div .div-stat {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats-div .activity-div .div-stat .number-h2 {
  margin-top: 30px;
}

.stats-div .steps-div {
  height: 93px;
  margin: 17.5px auto;
}

.stats-div .calories-div {
  height: 93px;
}

.stats-div .helper-div .div-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats-div .div-stat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats-div .div-stat .labels {
  line-height: 1.3;
}

.stats-div .div-stat .labels--h3 {
  font-size: 20px;
  letter-spacing: 0.48px;
}

.stats-div .div-stat .labels--h4 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 0.3px;
}

.stats-div .div-stat .number-h2 {
  margin-right: 10px;
  font-size: 38px;
  letter-spacing: 0.91px;
}

/*  
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ Daily Stats div ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                 ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
.daily-stats-div {
  width: 100%;
  height: 547px;
  padding: 40px 10px 30px;
  border-radius: 28px 28px 0 0;
  background-color: #fff;
  color: #151c1f;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.daily-stats-div .circle-div {
  width: 231px;
  height: 231px;
  padding: 30px;
  border: 8px solid #00b6a3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily-stats-div .circle-div .div-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 182, 163, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.daily-stats-div .circle-div .div-icon i.material-icons {
  color: #fff;
}

.daily-stats-div .circle-div .label-h3 {
  margin: 8px 0 10px;
  font-size: 20px;
  letter-spacing: 0.6px;
}

.daily-stats-div .circle-div .number-h1 {
  font-family: "Helvetica Neue, Bold";
  font-size: 48px;
  letter-spacing: 1.15px;
}

.daily-stats-div .motivation-div {
  margin-top: 30px;
  text-align: center;
}

.daily-stats-div .motivation-div .label-h3 {
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.6px;
}

.daily-stats-div .motivation-div .label-h2 {
  font-family: "Helvetica Neue, Bold";
  font-size: 40px;
  letter-spacing: 0.96px;
}

.daily-stats-div .results-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

.daily-stats-div .results-div > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily-stats-div .results-div > div .label-h4 {
  margin-bottom: 5px;
  color: #b3b3b3;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.daily-stats-div .results-div > div .number-h2 {
  color: #00b6a3;
  font-family: "Helvetica Neue, Bold";
  font-size: 40px;
  letter-spacing: 0.96px;
}

.daily-stats-div .results-div .cal-div {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
/*# sourceMappingURL=style.css.map */